!!! 5
html
  head
    title= title
    meta(content='Mobile-friendly Brisbane Queensland Rail CityTrain timetables', name='description')
    meta(content='Lachlan Dowding, Kevin Read', name='author')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    link(href='/images/startup-320x460.png', rel='apple-touch-startup-image') 
    link(href='/images/apple-touch-icon-57x57.png', rel='apple-touch-icon')
    link(href='/images/apple-touch-icon-72x72.png', rel='apple-touch-icon', sizes='72x72')
    link(href='/images/apple-touch-icon-114x114.png', rel='apple-touch-icon', sizes='114x114')
    link(href='/styles/app.css?v=2012-06-03', media='all', rel='stylesheet')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.1/backbone-min.js')
    script(src='/scripts/jquery.cookie.min.js')
    script(src='/scripts/app.min.js?v=2012-06-03')
    script(id='header-template', type='text/template')
      | <h1>MyCitytrain</h1>
      | <a id='header-right-button' class='back reverse slideup fx' href='#'>Done</a>
    script(id='journey-header-template', type='text/template')
      | <a id='header-left-button' class='flip fx return <%= inverse ? "reverse" : "" %>' href='<%= url %>'>
      |   <span class='<%= inverse ? "inbound" : "" %>'>Return</span>
      | </a>
      | <h1>MyCitytrain</h1>
      | <% if (inverse) { %>
      |   <a id='header-right-button' class='slideup fx' href='/#/about'>
      |     <span class='about'>About</span>
      |   </a>
      | <% } else { %>
      |   <a id='header-right-button' class='slideup fx' href='/#/settings'>
      |     <span class='settings'>Settings</span>
      |   </a>
      | <% } %>
    script(id='footer-template', type='text/template')
      | <% if (index === 0) { %>
      |   <a href='#' class='left arrow disabled reverse slide fx'></a>
      | <% } else { %>
      |   <a href='<%= collection.at(index - 1).url() %>' class='left arrow reverse slide fx'></a>
      | <% } %>
      | <ul class='group'>
      | <% collection.each(function(item, idx) { %>
      |   <% if (idx === index) { %>
      |     <li class='active'><a href='<%= item.url() %>' class='reverse slide fx'>&#9679;</a></li>          
      |   <% } else if (idx < index) { %>
      |     <li><a href='<%= item.url() %>' class='reverse slide fx'>&#9675;</a></li>          
      |   <% } else { %>
      |     <li><a href='<%= item.url() %>' class='slide fx'>&#9675;</a></li>          
      |   <% } %>
      | <% }); %>
      | </ul>
      | <% if (index === (collection.length - 1)) { %>
      |   <a href='#' class='right arrow disabled slide fx'></a>
      | <% } else { %>
      |   <a href='<%= collection.at(index + 1).url() %>' class='right arrow slide fx'></a>
      | <% } %>    
    script(id='journey-template', type='text/template')
      | <span class='eta <%= className %>'>
      |   <%= eta %>
      | </span>
      | <p class='origin'>
      |   <% if (originPlatform && originPlatform > 0) { %><span class='platform'>P<%= originPlatform %></span><% } %>
      |   <span class='location'><%= origin %></span> 
      |   <span class='time'><%= departure.format().toLowerCase() %></span>
      | </p>
      | <p class='destination'>
      |   <span class='location'><%= destination %></span> 
      |   <% if (destinationPlatform && destinationPlatform > 0) { %><span class='platform'>P<%= destinationPlatform %></span><% } %>
      |   <span class='time'><%= arrival.format().toLowerCase() %></span>
      | </p>
    script(id='load-template', type='text/template')
      | <button>
      |   Load More Services<span>.</span><span>.</span><span>.</span>
      | </button>
    script(id='settings-template', type='text/template')
      | <form>
      |   <ol>
      |     <% for (var i = 0; i < 7; i++) { %>
      |       <% if (i < collection.length) { %>
      |         <li>
      |           <input type='text' class='origin' placeholder='Origin' value='<%= collection[i][0] %>' />
      |           to
      |           <input type='text' class='destination' placeholder='Destination' value='<%= collection[i][1] %>' />
      |         </li>
      |       <% } else { %>
      |         <li>
      |           <input type='text' class='origin' placeholder='Origin' value='' />
      |           to
      |           <input type='text' class='destination' placeholder='Destination' value='' />
      |         </li>              
      |       <% } %>
      |     <% } %>
      |   </ol>
      | </form>
    script(id='about-template', type='text/template')
      ul
        li
          h2 About
          p 
            | MyCitytrain is about taking the Queensland Rail timetable with you on the go. Optimised for mobile devices like the iPhone, it's now easy to check when your next train departs wherever you are. Please add 
            a(href='http://mycitytrain.info') mycitytrain.info
            |  to your home screen.
        li
          h2 Credits
          p Design and development by Lachlan Dowding and Kevin Read.
    script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6816538-2']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body!= body