/* webkit effects */
.fx.in,.fx.out {
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 350ms;
}
.fx.flip {
  -webkit-animation-duration: .65s;
}
.fx.flip.in {
  -webkit-animation-name: flipinfromleft;
}
.fx.flip.out {
  -webkit-animation-name: flipouttoleft;
}
.fx.flip.in.reverse {
  -webkit-animation-name: flipinfromright;
}
.fx.flip.out.reverse {
  -webkit-animation-name: flipouttoright;
}
@-webkit-keyframes flipinfromright {
  from {
    -webkit-transform: rotateY(-180deg) scale(.8);
  }
  to {
    -webkit-transform: rotateY(0) scale(1);
  }
}
@-webkit-keyframes flipinfromleft {
  from {
    -webkit-transform: rotateY(180deg) scale(.8);
  }
  to {
    -webkit-transform: rotateY(0) scale(1);
  }
}
@-webkit-keyframes flipouttoleft {
  from {
    -webkit-transform: rotateY(0) scale(1);
  }
  to {
    -webkit-transform: rotateY(-180deg) scale(.8);
  }
}
@-webkit-keyframes flipouttoright {
  from {
    -webkit-transform: rotateY(0) scale(1);
  }
  to {
    -webkit-transform: rotateY(180deg) scale(.8);
  }
}
.fx.slideup.in {
  -webkit-animation-name: slideup;
  z-index: 10;
}
.fx.slideup.out {
  -webkit-animation-name: dontmove;
  z-index: 0;
}
.fx.slideup.out.reverse {
  z-index: 10;
  -webkit-animation-name: slidedown;
}
.fx.slideup.in.reverse {
  z-index: 0;
  -webkit-animation-name: dontmove;
}
@-webkit-keyframes slideup {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes slidedown {
  from {
    -webkit-transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(100%);
  }
}
@-webkit-keyframes dontmove {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}